
*{
    padding: 0;
    margin: 0;
}
.home{
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
  
}
.logo{
    text-align: center;
    padding-top: 18%;
}
.welcome{
    text-align: center;
    color: white;
    font-size: 28px;
    padding: 20px;   
}
.slogan{
    text-align: center;
    color: white;
}
.container{
    text-align: center;
}
.mouse{
    padding: 40px;
}
