
*{
    padding: 0;
    margin: 0;
}
.home{
    background-image: url("/assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
  
}
.logo{
    text-align: center;
    padding-top: 18%;
}
.welcome{
    text-align: center;
    color: white;
    font-size: 28px;
    padding: 20px;   
}
.slogan{
    text-align: center;
    color: white;
}
.container{
    text-align: center;
    font-size:18px;
    padding: 20px;
}
.container p{
   padding: 20px; 
   line-height: 1.8;
}
.mouse{
    padding: 40px;
}
.services{
    background-image: url("/assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    line-height: 1.8;
    height: 50vh;
    padding-top: 100px;
}
